/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= BASE ================= */
body {
    font-family: 'Open Sans', sans-serif;
    background: #f2e8de;
    color: #333;
    line-height: 1.6;
}

/* ================= MENU FIXO ================= */
.topo {
    background: #1c1c1c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.topo nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
}

.topo nav ul li {
    position: relative;
}

.topo nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    display: block;
}

/* SUBMENU */
.topo nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    back
